body {
    background-color: black;
    padding: 0;
    margin: 0;
}
#container {
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: black;
}
#header {
    flex-direction: column;
}
#contents {
    display: flex;
    flex-direction: column;
    flex-grow: 9;
    background-color: rgb(37, 36, 36)
}
#header_nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
#menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
}
#trend {
    flex-grow: 5;
}
#header_nav img{
    width: auto;
    height: 50px;;
}
i {
    padding-top: 15px;
}
#menu #browse {
    flex-grow: 1;
    color: white;
    border-bottom: 3px solid rgb(197, 2, 2);
}
#menu #my_list {
    flex-grow: 1;
    color: gray;
}
#contents #trend {
    flex-grow: 0.3;
    display: flex;
    flex-direction: row;
}
/* #contents #trend_contents {
    flex-grow: 2;
} */
h2 {
    font-size: 1em;
    font-weight: 700;
    margin: 1em 0 0 .5em;
    color: white;
}
h3 {
    font-size: 1em;
    font-weight: 700;
    margin: 0.5em 0 0 0.5em;
}
#information {
    flex-grow: 1;
    margin-left: 10px;
}
#contents #trend #all {
    flex-grow: 1;
    text-align: right;
    margin-top: 15px;
    margin-right: 12px;
}
#trend_contents {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#trend_contents::-webkit-scrollbar {
    display: none;
}
#trend_contents img {
    width: 100px;   
    margin-left: 18px;
    flex: 0 0 auto;
    border-radius: 3px;
}
#continue {
    display: flex;
    flex-grow: 0.3;
}
#continue #all {
    margin-right: 12px;
}
#continue_contents {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#continue_contents::-webkit-scrollbar {
    display: none;
}
#continue_contents img {
    width: 100px;   
    margin-left: 18px;
    flex: 0 0 auto;
    border-radius: 3px;
}
#continue h2 {
    margin-top: 1.6em;
}